<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv="Conent-Type" />
  </head>
  <body>
    <h1>Welcome to 99 Cats, <%= @user.username %> </h1>
    <p>
      You have succesfully signed up on 99 Cats.Your username is:
      <%= @user.username %> We can't wait for first cat rental!
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>
      Don't hesitate to reach out if you have any questions! Have
      a great day!
    </p>
  </body>
</html>
